
.details {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.9);
  padding: 20px;
}

.details-card {
  width: 40%;
  background: #1a1a1a;
  padding: 1%;
  padding-bottom: 2%;
  border-radius: 14px;
  color: white;
  text-align: center;
  max-height: 90%;
}

.details-card img {
  width: 40%; 
  margin: 20px 0;
  margin-left: 31%;
  border-radius: 10px;
}

.details-card strong {
  display: block;
  font-size: 28px;
  color: #d62828;
  margin-bottom: 10px;
  text-align: center;
}

.details-card p {
  text-align: left;
  margin: 10px;
  font-size: 14px;
}

.volver {
  position: absolute;
  top: 20px;
  left: 20px;
  background: #ffcc00;
  border: none;
  padding: 10px 14px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}
.volver:hover {
  background: #ff9900;
}